@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*--css reset end--*/
.wrap {
  font-size: 16px;
  letter-spacing: 0.1em;
}

header, main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background-color: #D7E8F6;
  height: 10vh;
}

.content {
  max-width: 1920px;
  padding: 0 10vw;
}

.stepStatus {
  width: 60vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stepStatus li {
  margin: 0 5%;
}

.stepStatus span {
  text-align: center;
  background-color: #FBFCFE;
  color: #ACACAC;
  border: 1.5px dashed #ACACAC;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  padding: 5px;
}

.stepStatus h6 {
  display: inline;
  color: #999999;
}

.stepStatus .activeNum {
  background-color: #5CADE1;
  border: 1.5px solid #5CADE1;
  color: #FBFCFE;
  -webkit-box-shadow: 0px 0px 5px #ACACAC;
          box-shadow: 0px 0px 5px #ACACAC;
}

.stepStatus .activeStep {
  color: #5CADE1;
}

main {
  height: 80vh;
}

.mainContent {
  padding: 3vh 10vw;
}

main > div > div {
  margin: 5vh 0;
}

.paymentInfo {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commodity ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
}

.commodity ul li {
  background-color: #EBF5FB;
  padding: 30px 50px;
  margin: 0 1%;
  cursor: pointer;
}

.commodity ul li:nth-child(1) {
  margin-left: 0;
}

.commodity ul li:nth-child(4) {
  margin-right: 0;
}

.title {
  border-left: 5px solid #57C1E7;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.2em;
  padding-left: 10px;
}

.payment ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  width: 100%;
}

.payment ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EBF5FB;
  width: 23.5%;
  margin: 0 1%;
  padding: 30px 0;
  cursor: pointer;
}

.payment ul li:nth-child(1) {
  margin-left: 0;
}

.payment ul li:nth-child(4) {
  margin-right: 0;
}

.payment ul li span {
  margin-left: 5px;
  letter-spacing: 0.2em;
  color: #5CADE1;
}

.payment img {
  height: 20px;
  width: auto;
}

li.active {
  background-color: #5CADE1;
}

.creditInfo {
  width: 40vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.creditInfo > label > span {
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 5px;
  display: inline-block;
}

.inputStyle {
  display: block;
  padding: 5px 10px;
  border: 1px solid #333333;
  border-radius: 3px;
  font-size: 16px;
}

.inputStyle:focus {
  border: 1px solid #F48482;
  outline: none;
}

.largeWidth {
  width: 100%;
  margin: 5% 10% 5% 0;
}

.smallWidth {
  width: 50%;
}

.largeInput {
  width: 100%;
}

.smallInput {
  width: 80%;
}

.smallerInput {
  width: 60%;
}

.creditCode {
  position: relative;
}

.creditCode .creditIcon {
  position: absolute;
  right: -5%;
  top: 3px;
}

.creditCode img {
  height: 11px;
  width: auto;
}

#getCode {
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid #333333;
  border-radius: 26px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FBFCFE), color-stop(#EBF5FB), to(#D7E8F6));
  background: linear-gradient(to bottom right, #FBFCFE, #EBF5FB, #D7E8F6);
  text-align: center;
  position: absolute;
  right: 6%;
  bottom: 0;
  cursor: pointer;
}

.note {
  width: 39vw;
  font-size: 14px;
  color: #999999;
  line-height: 1.4;
  margin-top: 15px;
  margin-right: 6%;
}

.selectedCommodity {
  background-color: #EBF5FB;
  width: 20vw;
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectedCommodity img {
  width: 50%;
  height: auto;
}

.selectedCommodity li {
  position: relative;
  margin-left: 15px;
  font-size: 14px;
  line-height: 1.3;
}

.selectedCommodity li::before {
  content: '・';
  position: absolute;
  left: -15px;
}

.commodityName {
  font-weight: bold;
  margin: 15px 0;
}

.blackLine {
  background-color: #333333;
  height: 2px;
  width: 100%;
}

.completeOrder {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.completeOrder img {
  height: 50vh;
  width: auto;
}

.completeOrder h4 {
  font-size: 38px;
  letter-spacing: 0.2em;
  color: #5CADE1;
  margin: 30px 0;
}

.finish {
  background-color: #EBF5FB;
  color: #5CADE1;
  font-size: 20px;
  letter-spacing: 0.2em;
  padding: 15px 80px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  width: 100vw;
}

.footerContent {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.btnStyle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.line {
  height: 5px;
  width: 38px;
  background: #D7E8F6;
  border-radius: 5px;
  margin-top: 10px;
}
/*# sourceMappingURL=all.css.map */