// BASIC SETTING //

.wrap{
    font-size: $fontsize-s;
}

header, main{
    width: 100vw;
    display: flex;
    justify-content: center;
}

header{
    background-color: $color-thir;
    height: 10vh;
}

.content{
    max-width: 1920px;
    padding: 0 10vw;
}

.stepStatus{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        margin:0 5%;
    }
    span{
        text-align: center;
        background-color: $color-sev;
        color: $color-eight;
        border: 1.5px dashed $color-eight;

        display: inline-block;
        width: $fontsize-s;
        height: $fontsize-s;
        border-radius: $fontsize-s;
        padding: 5px;
    }
    h6{
        display: inline;
        color: $color-six;
    }
    .activeNum{
        background-color: $color-master;
        border: 1.5px solid $color-master;
        color: $color-sev;
        box-shadow: 0px 0px 5px $color-eight;
    }
    .activeStep{
        color: $color-master;
    }
}