// MAIN SETTING //
main{
    height: 80vh;
}

.mainContent{
    padding: 3vh 10vw;
}

main>div>div{
    margin: 5vh 0;
}

// Commodity //

.paymentInfo{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.commodity{
    ul{
        display: inline-flex;
        margin-top: 20px;
        li{
            background-color: $color-four;
            padding: 30px 50px;
            margin: 0 1%;
            @include pointer;
            &:nth-child(1){
                margin-left: 0;
            }
            &:nth-child(4){
                margin-right: 0;                
            }
        }
    }
}

.title{
    border-left : 5px solid $color-sec;
    font-weight: bold;
    font-size: $fontsize-l;
    letter-spacing: $letter-spc-s;
    padding-left: 10px;
}

.payment{
    ul{
        display: inline-flex;
        margin-top: 20px;
        width: 100%;
        li{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $color-four;
            width: 23.5%;
            margin: 0 1%;
            padding: 30px 0;
            @include pointer;
            &:nth-child(1){
                margin-left: 0;
            }
            &:nth-child(4){
                margin-right: 0;                
            }
            span{
                margin-left: 5px;
                letter-spacing: $letter-spc-s;
                color: $color-master;
            }
        }
    }
    img{
        height: 20px;
        width: auto;
    }
}

li.active{
    background-color: $color-master;
}

// Credit Card //

.creditInfo{
    width: 40vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    &>label>span{
        font-weight: bolder;
        margin-bottom: 10px;
        margin-top: 5px;
        display: inline-block;
    }
}

.inputStyle{
    display: block;
    padding: 5px 10px;
    border: 1px solid $color-five;
    border-radius: 3px;
    font-size: $fontsize-s;
    &:focus{
        border: 1px solid $color-nine;
        outline: none;
    }
}

.largeWidth{
    width: 100%;
    margin: 5% 10% 5% 0;
}

.smallWidth{
    width: 50%;
}

.largeInput{
    width: 100%;
}

.smallInput{
    width: 80%;
}
.smallerInput{
    width: 60%;
}

.creditCode{
    position: relative;
    .creditIcon{
        position: absolute;
        right: -5%;
        top: 3px;
    }
    img{
        height: 11px;
        width: auto;
    }
}

#getCode{
    font-size: $fontsize-xs;
    padding: 6px 12px;
    border: 1px solid $color-five;
    border-radius: 26px;
    background: linear-gradient(to bottom right,$color-sev, $color-four, $color-thir);
    text-align: center;
    position: absolute;
    right: 6%;
    bottom: 0;
    @include pointer;
}

.note{
    width: 39vw;
    font-size: $fontsize-xs;
    color: $color-six;
    line-height: $line-h-sec;
    margin-top: 15px;
    margin-right: 6%;
}

// Selected Commodity //

.selectedCommodity{
    background-color: $color-four;
    width: 20vw;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 50%;
        height: auto;
    }
    li{
        position: relative;
        margin-left: 15px;
        font-size: $fontsize-xs;
        line-height: $line-h-thir;
    }
    li::before{
        content: '・';
        position: absolute;
        left: -15px;
    }
}

.commodityName{
    font-weight: bold;
    margin: 15px 0;
}

.blackLine{
    background-color: $color-five;
    height: 2px;
    width: 100%;
}

// Complete Order //

.completeOrder{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 50vh;
        width: auto;
    }
    h4{
        font-size: $fontsize-xxl;
        letter-spacing: $letter-spc-s;
        color: $color-master;
        margin: 30px 0;
    }
}

.finish{
    background-color: $color-four;
    color: $color-master;
    font-size: $fontsize-m;
    letter-spacing: $letter-spc-s;
    padding: 15px 80px;
    text-align: center;
    box-sizing: border-box;
}