$color-master: #5CADE1;
$color-sec: #57C1E7;
$color-thir: #D7E8F6;
$color-four: #EBF5FB;
$color-five: #333333;
$color-six: #999999;
$color-sev: #FBFCFE;
$color-eight: #ACACAC;
$color-nine: #F48482;

$fontsize-xxxl: 64px;
$fontsize-xxl: 38px;
$fontsize-xl: 32px;
$fontsize-l: 24px;
$fontsize-m: 20px;
$fontsize-s: 16px;
$fontsize-xs: 14px;

$line-h-master: 1.5;
$line-h-sec: 1.4;
$line-h-thir: 1.3;

$letter-spc-m: .3em;
$letter-spc-s: .2em;
$letter-spc-xs: .1em;
$letter-spc-auto: auto;

